.header {
    
    max-width: 100%;
    height: 200px;
    background: var(--gray-700);
    display: flex;
    align-items: center;
    justify-content: center;
}



.form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -1.4rem;
    gap: 1rem;

}

.input {
   
    width: 40rem;
    height: 3rem;
    border-radius: 8px;
    border: 1px solid var(--gray-700);
    background: var(--gray-500);
    gap: 0.5rem;
    padding: 10px;
    color: var(--gray-100);
}



.button {
    width: 5.6rem;
    height: 2.8rem;

    border: none;
    border-radius: 8px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    
    font:bold;
    font-weight: 500;
    color: white;
    background-color: var(--blue-dark);
    margin-top: -1rem;
}


.names {
    max-width: 49rem;
    margin: auto;
    margin-top: 6rem;
    padding-bottom: 2.5rem;
    display: flex;
    justify-content: space-between;
    color: white;
    
    

}

.names p {
    color: var(--blue);
    font: bold;
    font-weight: 700;
}

.names span {
    margin-left: 0.5rem;
    background: var(--gray-400);
    padding: 0.15rem 0.5rem 0rem 0.2rem;
    border-radius: 50%; 
    
}

.line {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
   
    margin-top: 4rem;
    border-top: 1px solid white;
    max-width: 49rem;
    margin: auto;
    border-top-left-radius: 8px;
    
    border-top-right-radius: 8px;
}