.post {
    
    max-width: 49rem;
    height: 4.5rem;

    display: flex;
    align-items: center;
    justify-content: space-around;

    margin: auto;

    border: 2px solid var(--gray-400);
    border-radius: 8px;

   
}

.post + .post {
    margin-top: 2rem;
}

.checkmark {
    position: relative;
    top: -0.5rem;
    border-radius: 16px;
}

.post p {
    color: white;
    position: relative;
    top: -0.5rem;
}   

.post svg {
    position:relative;
    top: -0.5rem;
   
   
}