.container {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 4rem;
    
    max-width: 49rem;
    margin: auto;
   
   
}

.container + .container {
    margin-top: -1rem;
}

.content {
    margin-top: 1rem;
    max-width: 49rem;
    width: 48rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    margin-bottom: 1rem;
    border: 1px solid white;
    height: 4.5rem;
    border-radius: 16px;

}


input {
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.icon {
    position: relative;
    top: -4.5rem;
    left: 23rem;
    background: var(--gray-600);
    border: none;
    color: var(--gray-300);
    cursor: pointer;
    
}
